.criminalsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.criminal {
  border: 1px dotted black;
  border-radius: 5px;
  flex-basis: 30%;
  margin: 15px 0px;
}

.criminalName, .facilityName {
  padding-left: 20px;
}

.criminalList, .facilityList {
  list-style: none;
  padding-left: 20px;
}

.associates {
  padding: 0px 0px 20px 20px;
}